<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/fondoPaquito.jpg) center; background-size: cover;">
        <div class="hero no-header flat">

        </div>
        <div class="content">
            <h1><img src="img/logo0.png" alt="local" style="display: block;margin-left: auto;margin-right: auto;" ></h1>
            <h1><img src="img/nombre.png" alt="local" style="width:200px;height:80px;display: block;margin-left: auto;margin-right: auto;"></h1>
        </div>
        <div class="list">


          <button ui-sref="app.profile" class="button button-full button-assertive ink">Find Your ParkingLot</button>

        </div>

    </ion-content>
</ion-view>
