<ion-view view-title="Data" id="all">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
      <div id="body">

        <!-- Parking Lot -->
        <div id="location_list" >
          Select a Parking Lot:
          <form role="form">
            <div class="form-group stats_form">
              <select class="form-control" id="sel1" ng-model="mySelectLoc" ng-change="showSelectLocation(mySelectLoc)">
                <option ng-repeat="loc in locations" >{{loc.$id}}</option>
              </select>
            </div>

          </form>
        </div>

        <div id="buttons">
          <br><br>
          <button class="button_find_spot">Find me a spot</button>
          <br><br>
          <button class="button_find_spot" onclick="findMeASpot()">Data Table</button>
        </div>

        <div id="manual_data">
          <!-- Child Zone -->
          <div id="stats_table" class="table-responsive">

            <table class="table table-striped stats_table">
              <thead class="stats_table_thead">
                <tr>
                  <th>Zones</th>
                  <th>Available Spaces</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="zn in places">
                  <td >{{zn.$id}}</td>
                  <td >{{zn.Capacity}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </body>


    <!--<div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
    <div class="content">
    <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
    <h3><a class="light">Daenerys Targaryen</a></h3>
    <h4>dragon_mommy</h4>
  </div>
</div>
<div class="tabs tabs-dark tabs-icon-top static">
<a ui-sref="app.activity" class="tab-item">
<i class="icon ion-arrow-graph-up-right"></i> Activity
</a>
<a ui-sref="app.friends" class="tab-item">
<i class="icon ion-android-people"></i> Friends
</a>
<a ui-sref="app.gallery" class="tab-item">
<i class="icon ion-images"></i> Photos
</a>
</div>
<h4 class="content padding double-padding-x">Following</h4>
<div class="list animate-fade-slide-in-right">
<a ui-sref="app.friends" class="item item-avatar item-icon-right">
<img src="img/jon-snow.jpg">
<h2>Jon Snow</h2>
<p>Da illest illegitimate</p>
<i class="icon ion-chatbubble muted"></i>
</a>
<a ui-sref="app.friends" class="item item-avatar item-icon-right">
<img src="img/sansa.jpg">
<h2>Sansa Stark</h2>
<p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
<i class="icon ion-chatbubble muted"></i>
</a>
<a ui-sref="app.friends" class="item item-avatar item-icon-right">
<img src="img/tyrion.jpg">
<h2>Tyrion Lannister</h2>
<p>B.A.M.F. imp</p>
<i class="icon ion-chatbubble muted"></i>
</a>
</div>
-->
</ion-content>
</ion-view>
