body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: rgb(34,46,65);
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:12px;
  text-align: center;
  height:100%;
  margin:0px;
  text-transform:uppercase;
  width:100
}

#all{
  margin-top: 5%;
  text-align: left;
  background-color: rgb(28,51,76);
  color: #fff;
}

#location_list{
  text-align: left;
  margin-left: 15%;
  width: 70%;
}

#favourite_text{
  margin-top: 10%;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
}

#favourite_zone{
  background-color: rgb(28,51,76);
  color: #fff;
  font-size: 6em;
  padding-top: 16%;
  margin-left: 32%;
  height: 100px;
  width: 40%;
  text-align: center;
  visibility: hidden;
}

#buttons{
  text-align: center;
  margin-left: -25%;
}

#stats_table{
  visibility: hidden;
}

.button_add{
  background-color: rgb(165,10,22);
  color: #fff;
  font-weight: bold;
  font-size: 5em;
  border: none;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 3%;
  position: fixed;
  left: 70%;
  bottom: 5%;
}

.button_add:active{
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 3%;
}

.button_find_spot{
  margin-left: 22%;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  background-color: rgb(165,10,22);
  -webkit-appearance:none;
  border: none;
  box-shadow: 1px 1px 2px #000;
}

.stats_table{
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
  margin-left:2.5%;
  margin-right: 2.5%;
  width: 95%;
  box-shadow: 3px 3px 5px #000;
}

.stats_table_thead th{
  background-color: rgb(36,67,95);
  color: #fff;
  text-align: center;
  padding:5%;
}

.stats_table_thead .stats_form{
  text-align: center;
  width: 100%;
}

.table{
  margin-top: 10%;
}

.table tbody{
  color:#000;
  background-color: #fff;
}

.table tbody tr td{
  border-bottom: medium solid rgb(217,217,217);
}

.form-group {
  margin-bottom: 2%;
}

.form-control {
  display: block;
  width: 100%;
  height: 10%;
  padding: 6px 12px;
  font-size: 1.5em;
  line-height: 1.42857143;
  color: #000;
  font-weight: bold;
  background-color: rgb(217,217,217);
  background-image: url("../img/downArrow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  border: none;

  /*
  border: 1px solid #ccc;
  border-radius: 4px;
  */
  -webkit-border-radius:0;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
